.post {
  // display: flex;
  // flex-direction: column;
  // border: 1px solid lightgrey;
  // margin: 20px;
  // width: 330px;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  border: 1px solid lightgrey;
  margin: 20px;
  text-align: left;
  background-color: #fefefe;

  // .image {
  //   background: palevioletred;
  //   height: 200px;
  //   width: 330px;
  // }

  img {
    width: 328px;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;

    &:hover {
      // opacity: 0.8;
      // width: 328px;
      height: 300px;
    }
  }

  h1,
  p,
  .Date {
    margin: 0;
    padding-left: 10px;
  }

  h1 {
    font-size: 15px;
    font-weight: 600;
  }

  p {
    padding-top: 15px;
  }

  .Tags {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .Date {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
  }

  .UserName {
    padding: 5px 0 5px 5px;
    margin: 10px;
  }

  .Heart {
    color: #e41317;
  }
}
