.container {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   height: 2500px;
//   width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: lightseagreen;    
}