.TagList {
margin: 0;
}

.Tag {
    border-radius: 10%;
    background-color: lightsteelblue;
    margin: 5px;
    padding: 0 5px 0 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;


    &:hover {
        background-color: rgb(218, 230, 248);
    }
}